html {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  min-height: 100%;
  width: fit-content;
  padding: 7% 10% 1.5em;

  font-family: var(--font-system);
  font-weight: normal;
}

main {
  width: 100%;
}

header>#title,
h1,
h2,
h3 {
  font-family: var(--font-flair);
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  margin-top: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

p {
  margin-bottom: 1rem
}

a,
a:hover,
article header a {
  color: var(--link-color);
  text-decoration: underline;
}

small {
  font-size: 0.8rem;
}

header {
  width: 100%;
  margin-bottom: 1rem;

  & a {
    text-decoration: none;
  }
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 100%;

  margin-top: 3rem;
}

#title {
  font-size: 3rem;
}
