:root {
  /* https://modernfontstacks.com/
     neo-grotesque font */
  --font-system: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;   
  /* https://modernfontstacks.com/
     geometric humanist font */
  --font-flair: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;  

  --background-color: white;

  --text-color: black;

  --link-color: black;
}
